.option-button {
  display: block;
  border: 3px solid red;
  background-color: white;
  color: black;
  padding: 0.25em;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
}

.option-button:hover {
  background-color: lightsalmon;
  color: white;
}

.option-button:active {
  background-color: lightsalmon;
  color: white;
}

.option-button.selected {
  border-color: green;
}
