.option-button {
  display: flex;
  border: 3px solid red;
  background-color: white;
  color: black;
  padding: 0.25em;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  align-items: center;
}

.option-button:hover {
  background-color: lightsalmon;
  color: white;
}

.option-button:active {
  background-color: lightsalmon;
  color: white;
}

.option-button.selected {
  border-color: green;
}

.option-button .image-wrapper {
  padding-inline: 2em;
  display: flex;
}

.option-button .label-wrapper {
  flex-grow: 1;
  text-align: left;
}
