.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 80px;
}

.logo img {
  width: 200px;
  height: auto;
}

.flag {
  width: 50px;
}
.flag-eng {
  width: 80px;
}
.lang-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
