.options {
  margin-block: 2em 1em;
}

.options > li {
  display: inline-block;
  width: 100%;
  padding: 0.5em 0.2em;
}

.options > li.small {
  width: 50%;
}

.survey-question .navigation-buttons-container {
  display: flex;
  justify-content: space-between;
}

.survey-question .navigation-buttons-container.first-question {
  justify-content: flex-end;
}
