.options > li {
  display: inline-block;
}

.survey-question .navigation-buttons-container {
  display: flex;
  justify-content: space-between;
}

.survey-question .navigation-buttons-container.first-question {
  justify-content: flex-end;
}
