.questionnaire-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 203px;
  padding: 20px;
  background: rgba(55, 31, 9, 60%);
  border: 4px solid rgba(55, 31, 9, 70%);
  border-radius: 2px;
  color: #f1f1e6;
}

.questionnaire-button:hover {
  background-color: #371709;
}

.questionnaire-button:active {
  background: #f1f1e6;
  border: 4px solid rgba(55, 31, 9, 80%);
}
