.tryagain-container {
  margin-top: 2rem;
}

.tryagain-button {
  min-width: 250px;
  padding: 20px;
  background: rgba(55, 31, 9, 0.6);
  border: 4px solid rgba(55, 31, 9, 0.7);
  border-radius: 2px;
  color: #f1f1e6;
}

.tryagain-button:hover {
  background-color: #170c01;
  color: #fff;
}
